body {
  background: #FFFAFA;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
  color: #566b78;
}

h1 {
  margin-top: 1em;
}

h1, h2, strong {
  color: #333;
}

.app-container {
    margin: 0 auto;
}

.boards {
  text-align: center;
}

#menuApp {

  margin: 0 auto;

  :hover {
    text-decoration: none;
    color: rgba(0,0,0, 0.6)
  }
}

.menuItem {
  margin: 0.5%;
  cursor: pointer;
  padding: 25px;
  float: left;
  text-align: center;
  max-width: 30%;
  min-width: 30%;
  color: #000;

  &:hover {
    text-decoration: none;
    color: rgba(0,0,0, 0.1)
  }

  .fa {
    margin: 0 auto;
  }

  .menuDescription {
    font-size: xx-large;
  }

  @media screen and (max-width: 1478px) {
    max-width: 49%;
    min-width: 49%;

    .menuDescription {
      font-size: x-large;
    }
  }

  @media screen and (max-width: 241px) {
    max-width: 99%;
    min-width: 99%;
  }
}

.boards {
  margin: 0 auto;
  max-width: 70%;
}
